@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    border-bottom: 2px solid #121212;
    margin-bottom: 10px;
}
.navbar-brand{
    margin-right: -20rem;
}
nav ul li a:hover{
    background-color: #FC6327;
    border-radius: 5px;
    font-weight: bold;
}
nav h5{
    font-weight: bold;
    font-size: 34px;
}
main{
    padding-top: 200px;
}

.mBread{
margin-left: 20px;
}
main ol a:hover{
    color: #ff4400;
}
main div h1{
    font-size: 90px;
}
main div h1 p{
    padding: 20px;
    margin-bottom: 90px;
}
main div p{
    font-size: 60px;
    text-align: right;
}

main div{
    padding-left: 20px;
} 
.center{
    padding: 50px;
    text-align: center;
}
video {
    width: 100%;
    padding-bottom: 90px;
}
main section{
padding-bottom: 50px;
}
section li a{
        color: #ff4400;
        text-decoration: none;
    
}

.card{
    border: none;
    position: relative;
}
.card img{
    border-radius: 20px 0 20px 0;
}
.hover1{
    position: relative;
}
.hover1:hover:after{
    content: "RED HOODIE";
}
.hover2:hover:after{
    content: "VINTAGE RADIO";
}
.hover3:hover:after{
    content: "GREY T-SHIRT";
}
.hover4:hover:after{
    content: "T-SHIRT W";
}
.hover5:hover:after{
    content: "ROOT";
}
.hover6:hover:after{
    content: "VELVET PANTS";
}
.hover7:hover:after{
    content: "GREEN JACKET";
}
.hover8:hover:after{
    content: "VINTAGE JACKET";
}
.card:hover:after{
    text-align: justify;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    top: 80%;
    left: 6%;
    border-top: 2px solid #FC6327;
    color:white;
    width: 250px;
    align-items: center;
}

footer {
    display: grid;
    grid-template-areas:
    "titulof facebook twitter insta"
    "titulof politica boton compra"
    "titulof none none none";
    font-size: 16px;
    color: #121212;
    background-color: white;
    border-top: 2px solid black;
    padding-bottom: 20px;
    padding-top: 60px;
}
footer form h1{
    text-align: center;
}
.btn{
    background-color: black;
    color: white;
    border: none;
}
.btn:hover{
background-color: white;
color: #121212;
border: solid 1px #121212;
}
.buy{
    background-color: white;
    color: #121212;
    border: solid 1px #121212;
}
.buy:hover{
    background-color: #ff4400;
    border: none;
    color: white;
}
.titulof{
    grid-area: titulof;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}
.facebook{
    grid-area: facebook;
    text-align: center;
    padding: 50px;
}
.twitter{
    grid-area: twitter;
    text-align: center;
    padding: 50px;
}
.insta{
    grid-area: insta;
    text-align: center;
    padding: 50px;
}
.pinte{
    grid-area: pinte;
    text-align: center;
    padding: 10px;
}
.youtube{
    grid-area: youtube;
    text-align: center;
    padding: 10px;
}
.cookies{
    grid-area: cookies;
    text-align: center;
    padding: 10px;
}
.politica{
    grid-area: politica;
    text-align: center;
    padding: 10px;
}
.compra{
    grid-area: compra;
    text-align: center;
    padding: 10px;
}
.boton{
    grid-area: boton;
    text-align: center;
    padding: 10px;
}
.navbar-toggler{
    margin-right: 40px;
}
.form-control {
    border: 1px solid #FC6327;
}

@media screen and (max-width: 545px) {
    nav{
        border-bottom: 1px solid #121212;
        margin-bottom: 10px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    nav h5{
        font-weight: bold;
        font-size: 24px;
    }
    nav li a {
        font-size: 16px !important;
    }
    main div h1{
        font-size: 40px;
        font-weight: bold;
    }
    main div h1 p{
        margin-bottom: 40px;
    }
    main div p{
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
    }
    
    footer{
        font-size: 12px;
    }
    .titulof{
        font-size: 14px;
    }
    .tituloAyuda {
        font-size: 18px;
    }
    .formulario{
        font-size: 16px;
    }
    video{
        width: 100%;
        padding-bottom: 10px;
        height: 500px;
    }
    footer {
        display: grid;
        grid-template-areas:
        "titulof titulof titulof "
        "titulof titulof titulof"
        "facebook twitter insta"
        "politica boton compra";
        font-size: 14px;
        color: #121212;
        background-color: white;
        border-top: 2px solid black;
        padding-bottom: 0px;
        padding-top: 20px;
    }
    footer form h1{
        text-align: center;
    }
    .twitter,
    .insta,
    .facebook {
        padding: 10px;
    }
    
}
    @media screen and (max-width: 700px) {
        
        video{
            width: 100%;
            padding-bottom: 10px;
            height: 500px;
        }
        footer {
            display: grid;
            grid-template-areas:
            "titulof titulof titulof "
            "titulof titulof titulof"
            "facebook twitter insta"
            "politica boton compra";
            font-size: 16px;
            color: #121212;
            background-color: white;
            border-top: 2px solid black;
            padding-bottom: 0px;
            padding-top: 20px;
        }
        footer form h1{
            text-align: center;
        }
        .mb-3{
            margin-bottom: 2rem !important;
        }
        .form-label {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
    }








/*
body {
    background-color: #1f212a;
}
.gridContainer {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

nav {
    width: 100%;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    display: inline-block;
    padding: 0 8px;
}
header ul a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
a:hover{
    color: #ff9142;
    border-bottom: 2px solid #ff723a;
}
.foto1{
    position: relative;
}
.foto1:hover::after{
    content:"Buzo Blanco Magic ";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 85%;
    left: 2%;
}
.foto2{
    position: relative;
}
.foto2:hover::after{
    content:"Buzo Rojo Misterio";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 85%;
    left: 2%
}
.foto3{
    position: relative;
}
.foto3:hover::after{
    content:"Campera Verde Michigan";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 85%;
    left: 2%
}
.foto4{
    position: relative;
}
.foto4:hover::after{
    content:"Campera Naranja Marcus";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 85%;
    left: 2%
}
.foto5{
    position: relative;
}
.foto5:hover::after{
    content:"Remera Negra Vans";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 84%;
    left: 2%
}
.foto6{
    position: relative;
}
.foto6:hover::after{
    content:"Remera Gris Libertines";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 85%;
    left: 2%
}
.foto7{
    position: relative;
}
.foto7:hover::after{
    content:"Pantalon Verde Coxon";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 84%;
    left: 2%
}
.foto8{
    position: relative;
}
.foto8:hover::after{
    content:"Accesorio Root";
    color: #fff;
    background-color: rgb(69, 69, 100,0.6);
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ff9142;
    position: absolute;
    top: 84%;
    left: 2%
}
.fotoPrendas1{
    position: relative;
}
.fotoPrendas1:hover::after{
    content:"Camisa JDeep $300";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrendas2{
    position: relative;
}
.fotoPrendas2:hover::after{
    content:"Remera Clasica Bowie $500";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrendas3{
    position: relative;
}
.fotoPrendas3:hover::after{
    content:"Remera Verde Sinister $500";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrenda4{
    position: relative;
}
.fotoPrendas4:hover::after{
    content:"Jogger rojo Gipsy $1000";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrendas5{
    position: relative;
}
.fotoPrendas5:hover::after{
    content:"Remera Funny games $200";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrendas6{
    position: relative;
}
.fotoPrendas6:hover::after{
    content:"Jogger Negro Fireside $500";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrendas7{
    position: relative;
}
.fotoPrendas7:hover::after{
    content:"Remera Verde Bonnie $500";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}
.fotoPrendas8{
    position: relative;
}
.fotoPrendas8:hover::after{
    content:"Buzo Blanco Placebo $600";
    color: #ff723a;
    position: static;
    top: 84%;
    left: 2%
}

main {
    color: white;
}
.pictureContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
main h1 {
    font-size: 16px;
    margin-left: 20px;
    padding: 10px;
}
main > div > p {
    font-size: 12px;
    margin-left: 30px;
    margin-bottom: 20px;
}

main > section {
    text-align: center;
}
main section  picture img {
    border-radius: 15px;
    box-shadow: 2px 2px 8px 2px #121212;
    width: 100%;
}
.carritoGrilla{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 500px;
}

.foto1Bolsa{
    width: 80px;
    height: 120px;
}
.foto2Bolsa{
    width: 80px;
    height: 120px;
    flex-direction: column;

}
.tituloAyuda {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.formulario{
    padding: 30px;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: lighter;
}


footer {
    display: grid;
    grid-template-areas:
    "titulof titulof titulof titulof"
    "tiktok facebook twitter insta"
    "cookies politica compra boton";
    font-size: 10px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}
.titulof{
    grid-area: titulof;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}
.tiktok{
    grid-area: tiktok;
    text-align: center;
    padding: 10px;
}
.facebook{
    grid-area: facebook;
    text-align: center;
    padding: 10px;
}
.twitter{
    grid-area: twitter;
    text-align: center;
    padding: 10px;
}
.insta{
    grid-area: insta;
    text-align: center;
    padding: 10px;
}
.pinte{
    grid-area: pinte;
    text-align: center;
    padding: 10px;
}
.youtube{
    grid-area: youtube;
    text-align: center;
    padding: 10px;
}
.cookies{
    grid-area: cookies;
    text-align: center;
    padding: 10px;
}
.politica{
    grid-area: politica;
    text-align: center;
    padding: 10px;
}
.compra{
    grid-area: compra;
    text-align: center;
    padding: 10px;
}
.boton{
    grid-area: boton;
    text-align: center;
    padding: 10px;
}
footer span {
    font-weight: lighter;
}



@media screen and (min-width: 500px) {
header {
    border-bottom: 1.5px solid #fff;
}
.logo {
    width: 60px;
    height: 60px;
}
header ul a {
    font-size: 16px;
}
.pictureContainer {
    margin-bottom: 40px;
    margin-top: 20px;
    gap: 20px;
}
main h1{
    font-size: 24px;
}
main > div > p {
    font-size: 16px;
}

footer{
    font-size: 12px;
}
.titulof{
    font-size: 14px;
}
.tituloAyuda {
    font-size: 18px;
}
.formulario{
    font-size: 16px;
}
}


@media screen and (min-width: 700px) {
    header{
        border-bottom: 3px solid #fff;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    header ul a{
        font-size: 20px;
    }
    .pictureContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer{
        font-size: 14px;
    }
    .titulof{
        font-size: 16px;
    }
    .tituloAyuda {
        font-size: 20px;
    }
    .formulario{
        font-size: 18px;
    }
    }



@media screen and (min-width: 1024px) {
    header{
        border-bottom: 4px solid #fff;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    header ul a{
        font-size: 20px;
    }
    .pictureContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    footer{
        font-size: 16px;
        padding: 70px;
    }
    .titulof{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .tituloAyuda {
        font-size: 20px;
    }
    .formulario{
        font-size: 18px;
    }
    
}/*