main{
    .mBread{
        padding-bottom: 20px;
    }
    .grillaSusta{
        padding: 0%;
    }
    .center{
        padding: 10px;
        @include mphone{
            padding-right: 20px;
        }
        h1{
            font-size: 48px;
            @include mphone{
                font-size: 34px;
                font-weight: 400;
                margin-top: 0%;
                padding-top: 0%;
            }

        }
        p{
            background-color: transparent;
            color: #121212;
            font-size: 24px;
            text-align: center;
            @include mphone{
                font-size: 24px;
                font-weight: 200;
                padding: 10px;
            }
            
        }
    }
}
