main{
    h1{
        font-size: 44px;
        padding-bottom: 40px;
    }
    h3{
        font-size: 34px;
        padding-bottom: 40px;
    }
    p{
        font-size: 28px;
        text-align: center;
        font-weight: lighter;
        padding-top: 10px;
    }
}